---
import Breadcrumbs from './Breadcrumbs.astro';
---

<Breadcrumbs />
<h1 id="_top">{Astro.locals.starlightRoute.entry.data.title}</h1>

<style>
  h1 {
    margin-top: 0.5rem;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }
</style>
